.checkout {
    .image-thumbnail {
        height: 50px;
        width: 50px;
    }

    .cart-items {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .single-cart-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 10px;
    }

    .estimated-total {
        display: flex;
        justify-content: space-between;
    }

    .sub-margin {
        margin: 10px;
    }

    .text-align {
        text-align: center;
    }

    .payment-group {
        button {
            width: 100%;
            padding: 10px;
            border-radius: 20px;
        }

        .pink {
            background-color: #f7d4db;
            border-style: none;
        }

        .black {
            color: white;
            background-color: black;
            margin-bottom: 10px;
            border-style: none;
        }

        .white {
            color: black;
            background-color: white;
        }
    }

    .payment {
    display: flex;
    flex-direction: column;
    }
    .hidden {
        display: none;
    }
    .pay-now {
        padding: 10px;
        margin: 10px;
    }
}